@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    --primary-blue : #0BB3D8;
    --secondary-blue: #2493C0;
    --sec-blue : #0077B6;
    --white: #F2F2F2;
    --grey: #A6A6A6;
    --footer-grey: #F0F0F0;
    --black: #0D0D0D;
    --roboto: "Roboto", sans-serif;
    --montserrat:  "Montserrat", sans-serif;
    --gras: bold;
    --star: #FFC633;
}